<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SibirCTF Blog</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1> This is the last stage in our competitions.</h1>
            <h1> Rewrite the text from the image below in the URL path. </h1>
            <h1> This will be the end of the game.<h1/>
            <img src="{{url_for('static', filename='capcha.png')}}"  width="1000" height="400"" align="middle" />
          
        </div>
    </div>
</body>
</html>