<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BASE76</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
            <div id="roma">   
                <h1>
                    <i>
                        ВСЕМ ПРИВЕТ ЭТО САМЫЙ ЛУЧШИЙ САЙТ ДЛЯ КОДИРОВАНИЯ И ДЕКОДИРОВАНИЯ СООБЩЕНИЙ ПОПЫТАЙТЕ СВОЮ УДАЧУ И РАСКОДИРУЙТЕ СТРОКУ
                        ВоЭФдвнаеАю8К0ШюдЬвзЕшча9ШсЦпэЕ3пТёоЧееХ
                    </i>            
                </h1>
            </div>
            <div id = "artyom">
                <p>
                    <b>
                        ЗАКОДИРОВАТЬ
                    </b>
                    <input type="text">
                </p>
            </div>
            <div id = "ромаиартём">
                <p>
                    <b>
                        <i id = "текст">
                            
                        </i>
                    </b>
                </p>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="static/script.js"> </script>
    </body>
</html>
